.projectPhotos {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.projectPhoto {
  max-width: 100%;
  margin: 5px 0;
}

.projectDesc {
  margin: 3em 0;
}

@media screen and (min-width: 768px) {
  .projectPhoto {
    max-width: 50%;
  }
}

@media screen and (min-width: 1098px) {
  .projectPhoto {
    max-width: 33%;
  }
}