.aboutPictures {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.benBackground {
  width: auto;
  height: 100vh;
  opacity: 0.15;
  z-index: -10;
  position: fixed;
}

#ben {
  margin: 20px auto 20px auto;
  max-width: 60%;
}

.servicesList {
  margin-top: 50px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.servicesList li {
  margin: 10px;
  font-weight: 600;
  padding: 10px;
  background-color: rgb(240, 240, 240);
  border-radius: 7px;
  box-shadow: 1px 5px 7px rgb(192, 192, 192);
}

h3 {
  margin-top: 50px;
}

@media screen and (min-width: 505px) {
  .benBackground {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  #ben {
    display: inline;
    margin: 5px;
  }
}