.contact {
  padding: 20px 0 0 0;
}

.contactLink {
  display: block;
  padding: 0;
  margin: 10px 0;
  font-size: larger;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  padding: 0;
}

.mapContainer p {
  display: block;
  padding: 0;
  align-self: flex-start;
}

.map {
  align-self: center;
  border: none;
}

@media only screen and (min-width: 600px) {
  .contact {
    display: flex;
    flex-direction: row;
    padding: 50px 0 0 60px;
  }

  .contactLink {
    padding: 0;
  }

  .content, .mapContainer {
    padding: 0 5% 0 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mapContainer {
    margin: 0;
  }
}