.background {
  position: fixed;
  z-index: -10;
  opacity: 0.08;
}

.contactPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactPageContainer h2 {
  margin-bottom: 0;
}

.contact {
  width: 100%;
  display: flex;
  margin: 5% 0;
}

.contactText {
  width: 50%;
  display: inline;
}

.contact form {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
  }

  .contact form {
    width: 100%;
  }

  .contactText {
    display: block;
    width: 100%;
  }
}