* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nanum Myeongjo', serif;
}

h2 {
  font-size: 4em;
  margin-bottom: 50px;
  mix-blend-mode: difference;
}

p {
  font-family: 'Bitter', serif;
  letter-spacing: 0.5px;
  line-height: 1.7;
}