footer {
  padding: 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
  background-color: whitesmoke;
}

#footerNav {
  display: flex;
  flex-direction: column;
  text-align: end;
}

#footerNav a {
  margin: 10px 0;
  color: black;
}

svg {
  color: black;
}