.positionFixed {
  position: fixed;
}

.desktopNavContainer {
  display: none;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  padding: 10% 10% 10% 0;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.mobileNav a {
  font-size: xxx-large;
  text-decoration: none;
  padding: 25px 0;
  color: black;
}

@media only screen and (min-width: 768px) {
  .mobileNavContainer {
    display: none;
  }
  
  .desktopNavContainer {
    display: block;
  }
  
  .desktopNav a {
    padding: 0 20px;
    font-size: x-large;
    font-family: "Playfair Display", serif;
    text-decoration: none;
    color: black;
  }
}