.portfolioCard {
  max-width: 100%;
  height: fit-content;
  margin: 45px 15px;
  padding: 0;
  border-radius: 7px;
  background-color: rgb(248, 248, 248);
  overflow: hidden;
}

.portfolioCard a {
  text-decoration: none;
  color: black;
}

.portfolioImage {
  max-width: 100%;
}

.portfolioTitle {
  margin: 10px 0 15px 0;
  padding: 0 10px;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 768px) {
  .portfolioCard {
    width: 45%;
  }
}